{% extends 'modelo.html' %}

{% block titulo %}
    <title>Relatório de Movimentação de Produtos</title>
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Relatório de Entrada e Saída de Produtos</h1>

    {% if movimentos %}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data de movimento</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for movimento in movimentos %}
                {% if movimento.tipo == 'entrada' or movimento.tipo == 'saida' %}
                <tr>
                    <td>{{ movimento.produto.nome }}</td>
                    <td>{{ movimento.quantidade }}</td>
                    <td>{{ movimento.data_movimento|date:"d/m/Y" }}</td>
                    <td>{{ movimento.get_tipo_display }}</td>
                </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Nenhum movimento encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="alert alert-warning text-center mt-4" role="alert">
            Nenhum movimento encontrado. Verifique se foram registrados movimentos de entrada ou saída.
        </div>
    {% endif %}

    <div class="text-center mt-4">
        <a href="?format=pdf" class="btn btn-success">Baixar PDF</a>
    </div>

    <!-- Formulário para limpar o relatório -->
    <div class="text-center1 mt-4">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="limpar_relatorio" class="btn btn-danger">Limpar Relatório</button>
        </form>
    </div>
</div>
{% endblock %}
